<div class="container-body w-screen bg-indigo-400">

            <div class="h-screen m-auto body sm:w-5/6 md:w-3/4 w-full rounded-lg">
                <div class="title fixed sm:w-5/6 md:w-3/4 w-full text-center text-lg bg-blue-600 text-white rounded-sm font-bold p-2">
                    Chat with strangers - Online: <span id="online-users" class="text-warning"></span>
                </div>
                <div class="messagesBody p-3 bg-gray-300 text-lg">
                    

                    <div class="information w-full">
                    </div>

                    <div id="searching" class="w-full h-full items-center flex justify-center">
                        <div id="loading" style="border-top-color: #0048e2;" class="loader border-t-blue-500 ease-linear rounded-full border-4 border-t-4 border-gray-200 h-16 w-16 mb-4"></div>
                    </div>

                    <div id="new-chat" class="w-full h-full items-center hidden justify-center">
                        <div>
                            <button onclick="newChat()" class="text-white text-2xl font-bold bg-green-600 p-3 rounded hover:text-gray-100 hover:bg-green-700">Start Chat!</button>
                        </div>
                    </div>

                    <div class='messages'>

                    </div>
                    <div id="typingArea" class="mt-10 mb-10">
                    </div>
                    <div class="scrollTarget"></div>

                </div>
            </div>
        <div id="inputs" class="hidden sm:w-5/6 md:w-3/4 w-full m-auto relative">
            <div id="refresh" class="rounded-sm flex p-1 bg-blue-600 absolute inset-x-0 bottom-0">
                <input id="msg" onKeyPress="inputEnter(event)" autocomplete="off" class="sm:w-full w-4/6 rounded-sm focus:outline-none p-1" type="text" placeholder="Digite sua mensagem...">
                <button id="send" onclick="send()" class="disabled:opacity-50 sm:w-12 w-1/6 btn mx-2 bx bx-send p-2 rounded-sm text-2xl text-white border border-white hover:bg-white hover:text-blue-600 focus:outline-none focus:ring focus:border-blue-300"></button>
                <button id="stopChat" onclick="stopChat()" class="disabled:opacity-50 sm:w-12 w-1/6 btn mx-2 bx bxs-error-alt p-2 rounded-sm text-2xl text-white hover:bg-white hover:text-blue-600 focus:outline-none focus:ring focus:border-blue-300"></button>
            </div>
        </div>  
</div>

<script>
    var typingTimer; //timer identifier
    var doneTypingInterval = 1000; //time in ms, 1 second for example
    var timing = 0;
    //on keyup, start the countdown
    $('#msg').keyup(function(event) {
        if(timing == 0 && event.keyCode != 13){
            isTyping(true);
            timing = 1;
        }
        if(event.keyCode == 13){
            timing = 1;
            isTyping(false);
        }else{
            clearTimeout(typingTimer);
            if ($('#msg').val) {
                typingTimer = setTimeout(function(){ isTyping(false); }, doneTypingInterval);
            }
        }  
    });
    function isTyping(b){
        socket.emit("is-typing", b);
        timing = 0;
    }
</script>
