body{
    margin: 0;
    padding: 0;
}
.messagesBody{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.user-msg{
    max-width: 65%;
}
.my-msg{
    display: flex;
    justify-items: end;
    width: 100%;
}
.btn{
    transition: all .2s linear;
}

/*Typing...*/
.typing {
    width: 5em;
    height: 2em;
    position: relative;
    padding: 7px;
    margin: 10px 0px 50px 5px;
    background: #ffffff;
    border-radius: 0px 10px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .typing__dot {
    float: left;
    width: 8px;
    height: 8px;
    margin: 0 4px;
    background: #716f7a;
    border-radius: 50%;
    opacity: 0;
    animation: loadingFade 1s infinite;
  }
  
  .typing__dot:nth-child(1) {
    animation-delay: 0.2s;
  }
  
  .typing__dot:nth-child(2) {
    animation-delay: 0.4s;
  }
  
  .typing__dot:nth-child(3) {
    animation-delay: 0.6s;
  }

/*Loading Wire*/
.loader {
	-webkit-animation: spinner 1.5s linear infinite;
	animation: spinner 1.5s linear infinite;
}
@-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

  
  @keyframes loadingFade {
    0% {
      opacity: 0;
      transform: scale(1);
    }
    50% {
      opacity: 0.8;
      transform: scale(1.7);
    }
    100% {
      opacity: 0;
      transform: scale(1);
    }
  }

@keyframes message{
    0%{
        opacity: 0;
        transform: scaleY(0);
    }
    50%{
        opacity: 0.3;
        transform: scaleY(1.4);
    }
    100%{
        opacity: 1;
        transform: scaleY(1);
    }
}